body, textarea, input, button, select, keygen, legend {
	font: 14px/1.5 'Microsoft YaHei', Helvetica, Arial, 'Microsoft YaHei UI', 'WenQuanYi Micro Hei', sans-serif,\5b8b\4f53;
	color: #666;
	outline: 0;
}
body,ul,dl,dd,p,h2{
	margin:0;
	padding:0;
}
html,body{
	width: 100%;
	height:100%;
}
html,body{
	overflow:hidden;
}
body{
	font:14px/1.5 "Microsoft Yahei","verdana",sans-serif;
	color:#3f3f3f;
	background-color:#f6f6f6;
}
ul{
	list-style:none;
}
a{
	color:#3f3f3f;
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
img{
	border: none;
	vertical-align: top;
}

.wrap{
	width: 1000px;
	margin:0 auto;
}

.clearfix:before,.clearfix:after{
	content:"";
	display: table;
}
.clearfix:after{
	clear:both;
}
.clearfix{
	zoom:1;
}

/*---------------------------------- header部分 */
.header{
	width: 100%;
	position:fixed;
	background-color:#fff;
	text-align:center;
	z-index:999;
}
.info-bar{
	width:100%;
	height:28px;
	background-color:#2d2f30;
	font-size: 12px;
	line-height:28px;
}
.phone-info{
	float:left;
	height: 28px;
	color:#fff;
	/*padding-left:22px;
	background:url(/AppWeb/AppWeb_Images/index/info_phone.png) no-repeat 0 5px;*/
}
.phone-info img{
	margin: 6px 6px 0 0;
	letter-spacing: 1px;
}
.top-weixin{
	float:right;
	padding-left:24px;
	background:url(/AppWeb/AppWeb_Images/index/info_weiXin.png) no-repeat 0px 6px;
}
.top-weixin a,.top-user a{
	color:#fff;
}
.top-weixin a:hover,.top-user a:hover{
	text-decoration:underline;
}
.top-user{
	float:right;
	margin-right: 39px;
}
.top-user span{
	color:#858687;
	margin:0 18px 0 14px;
}
.navBar{
	height: 74px;
	border-bottom:1px solid #f6f6f6;
}
.cmwa-logo{
	display: block;
	position:relative;
	/* width: 225px; 
	height:34px;*/
	left: 0;
	top:9px;
	float: left;
	/*background:url(/AppWeb/AppWeb_Images/index/logo.png) no-repeat 0 0;*/
}
.cmwa-logo img{
	float: left;
}
.cmwa-logo em{
	float: left;
	margin-left: 10px;
	margin-top:-1px;
}
.nav-list{
	float: right;
	padding-top: 28px;
	padding-right: 50px;
}
.nav-list li{
	float:left;
	font-size: 16px;
	margin-left: 33px;
}
.nav-list a{
	display: block;
	height: 32px;
	color:#444;
}
.nav-list a:hover,.nav-list .active{
	color:#ca132c;
	background:url(/AppWeb/AppWeb_Images/index/nav_under_dot.png) no-repeat center 26px;
}

.user-window{
	position:relative;
	top:22px;
	float:right;
	width: 117px;
	height: 32px;
	padding-top: 4px;
	background:url(/AppWeb/AppWeb_Images/index/user_bg.png) no-repeat;
	text-align:center;
}
.user-window span{
	padding-left: 21px;
	background:url(/AppWeb/AppWeb_Images/index/user_icon_no_logIn.png) no-repeat 0 0px;
}
.user-window span a{
	color:#ababab;
	font-size: 16px;
}
.user-window span a:hover{
	color:#8b8b8b;
}

/*---------------------------------- amBody 主体内容部分 */
/*.amBody,.amPage,.amBg{
	width: 100%;
	height:100%;
}*/
.amBody{
	position:absolute;
	top:103px;
	bottom: 0;
	width:100%;
	/* background-color:#f60; */
	overflow:hidden;
}

.amMotionWrap{
	position: absolute;
	width: 100%;
	height: 100%;
}

.amPage{
	position:relative;
	text-align: center;
	width:100%;
	height: 100%;
}

.amBg{
	position: absolute;
	top:0;
	bottom: 160px;
	width:100%;
	background-attachment:fixed;
	background-size: cover;
	background-position:50% 50%;
	background-repeat: no-repeat;
}

.main-content{
	position:relative;
	width: 1000px;
	margin:0 auto;
	height: 100%;
}

.ftbar{
	position: absolute;
	width: 100%;
	height: 160px;
	bottom:0;
	background-color:#fff;
	text-align: center;
}


/*第一部分*/
.layMid{
	position:absolute;
	width: 532px;
	height: 96px;
	left: 50%;
	top: 50%;
	margin-left: -266px;
	margin-top: -48px;
}
.main-slogan{
	width: 532px;
	height: 52px;
	background: url(/AppWeb/AppWeb_Images/index/textPart0.png) no-repeat;
}
.user-bt{
	padding-left:116px;
	padding-top:10px;
}
.user-bt a{
	display: block;
	width: 144px;
	height: 32px;
	float: left;
	text-align: center;
	line-height: 32px;
	color: #fff;
}

.bt-login,.bt-signin{
	letter-spacing: 5px;
	background-image:url(/AppWeb/AppWeb_Images/index/bt_user_go.png);
	background-repeat: no-repeat;
}
.bt-login{
	background-position: 0 0;
	margin-right: 14px;
}
.bt-login:hover{
	background-position: 0 -32px;
}
.bt-signin{
	background-position: 0 -64px;
}
.bt-signin:hover{
	background-position: 0 -96px;
}
.ft-main-content{
	width: 1000px;
	margin:0 auto;
	padding-top:36px;
}

.ft-main-content li{
	display: inline-block;
	*display: inline;
	*zoom:1;
	padding:0 20px;
}
.ft-main-content .iconBox{
	display: inline-block;
	*display: inline;
	*zoom:1;
	width:84px;
	height: 84px;
	text-align:center;
	position:relative;
	line-height: 84px;
	font-size:18px;
	font-style:normal;
	font-weight: bold;
}
.ft-main-content i{
	display: block;
	position:absolute;
}
.ft-main-content img{
	width: 100%;
	height: 100%;
}
.ft-main-content span{
	display: inline-block;
}

.ft-main-content .contentTxt{
	margin-top: 8px;
	width:156px;
	font-size: 14px;
	color:#999;
}


/*第一个产品*/
.product-text{
	position:absolute;
	width: 100%;
	height: 100%;
}
.li-cai0,.li-cai1,.li-cai2{
	background-repeat: no-repeat;
	background-attachment:fixed;
	zoom:1;
}
.li-cai0{
	background-position:30% 38%;
	background-image:url(/AppWeb/AppWeb_Images/index/liCai0.png);
}

.li-cai1{
	background-position:70% 38%;
	background-image:url(/AppWeb/AppWeb_Images/index/liCai1.png);
}

.li-cai2{
	background-position:30% 38%;
	background-image:url(/AppWeb/AppWeb_Images/index/liCai2.png);
}


.ft-product-content{
	position: relative;
	width: 1000px;
	height: 160px;
	margin:0 auto;
}

.ft-info{
	position:absolute;
	text-align: left;
	top: 14px;
	font-size: 12px;
}

.infoL{
	left:20px;
}
.infoR{
	right: 20px;
}
.ft-info-title,.ft-info-content,.can-yu{
	padding-bottom: 2px;
}

.ft-info-title{
	font-size: 20px;

}
.ft-info-content{
	width: 100%;
}
.can-yu{
	color:#3e90ff;
}
.can-yu:hover{
	color:#2c72d0;
	text-decoration: underline;
}
.ft-info ul{
	margin-top:8px;
}
.ft-info-li{
	float:left;
	color:#999;
	margin-right: 34px;
}

.pd-icon{
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto 4px;
}
.pd-icon img{
	width:100%;
	height: 100%;
}

.tu-image{
	position: absolute;
	bottom: 0;
}
.tu-image img{
	vertical-align:bottom;
	width:100%;
	height: 100%;
}
.tu1{
	left: 16px;
	width: 208px;
	height: 248px;
}
.tu2{
	right: -10px;
	width: 362px;
	height: 187px;
}
.tu3{
	left: -60px;
	width: 430px;
	height: 189px;
}

/*底部栏目*/
.flow-path{
	position: relative;
	top:50%;
	width: 1000px;
	margin: -170px auto 0;	/*margin: -135px auto 0;*/
}
.flow-title{
	font-size: 22px;
}
.path-line {
	margin-top: 36px;
}
.path-line li{
	display: inline-block;
	*display: inline;
	*zoom:1;
	text-align: center;
	vertical-align:top;
	padding: 0 10px;
}
.path-line i{
	display: inline-block;
	*display: inline;
	*zoom:1;
	width: 50px;
	height: 60px;
}
.path-line h2{
	font-size: 16px;
	font-weight: normal;
	margin-top: 10px;
}
.path-line p{
	color:#999;
	font-size:12px;
}
.flow-icon1,.flow-icon2,.flow-icon3,.flow-icon4{
	background: url(/AppWeb/AppWeb_Images/index/flowPath_icons.png) no-repeat;
}
.flow-icon1{
	background-position: 0 0;
}
.flow-icon2{
	background-position: -50px 0;
}
.flow-icon3{
	background-position: -100px 0;
}
.flow-icon4{
	background-position: -150px 0;
}
.way-icon{
	width: 18px;
	height: 34px;
	margin-top: 24px;
	background: url(/AppWeb/AppWeb_Images/index/flow_way.png) no-repeat;
}

/*---------------------------------- footer */
.footer{
	width: 100%;
}
.index-mode{
	position:absolute;
	left: 0;
	bottom: 0;
}

.ft-tools{
	height: 155px;
	/* padding:19px 0; */
	background-color:#3d3d3d;
}
.tools-list{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding-top: 47px;
}
.tools-list li{
	float: left;
	/* display: inline-block;
	*display: inline;
	*zoom:1; 
	padding: 0 50px;*/
	border-left:1px solid #787878;
}
.tools-list li.list-item01{
	width: 255px;
	border-left:0;
}
.tools-list li.list-item02{
	width: 388px
}
.tools-list li.list-item03{
	width: 355px;
}
.tools-list li:first-child{
	border-left:0;
}
.ft-tools .tool-title{
	font-style:normal;
	color: #fff;
	display: inline-block;
	*display: inline;
	*zoom:1;
	font-size: 20px;
	/* width: 96px; */
	height: 22px;
	line-height: 22px;
	margin-bottom: 10px;
}
.ft-tools .tool-title em{
	font-style: normal;
	margin-left: 15px;
}
.ft-tools .list-item02 .tool-title em{
	margin-left: 12px;
}
.ft-tools .list-item03 .tool-title{
	margin-left: 35px;
}
.ft-tools .list-item03 .link-list{
	margin-left: 45px;
}
.ft-tools .tools-icon-group{
	display: block;
	width: 20px;
	height: 22px;
	float: left;
}
.ft-tool-icon1{	
	background:url(/AppWeb/AppWeb_Images/index/ft_tool_icons.png) no-repeat;
}
.ft-tool-icon2{	
	background:url(/AppWeb/AppWeb_Images/index/ic_query_normal.png) no-repeat;
}
.ft-tool-icon3{	
	background:url(/AppWeb/AppWeb_Images/index/ft_tool_icons.png) no-repeat;
}
.ft-tool-icon1{
	background-position:0 0;
}
.ft-tool-icon3{
	background-position:-40px 0;
}

.ft-tools .link-list{
	display: block;
	margin-top:4px;
	color: #fff;
	/* font-size: 12px; */
}
.ft-tools .list-item02 .tool-title{
	margin-left: -10px;
}
.ft-tools .list-item02 .link-list{
	margin-left: -5px;
}
.ft-tools span{
	color:#fff;
	padding:0 8px;
}
.ft-tools a{
	color: #fff;
}
.ft-tools .list-item01 .link-list{
	text-align: left;
	margin-left:5px;
}
.ft-tools a:hover{
	color:#bababa;
}
.co-info{
	height: 194px;
	/* padding:30px 0; */
	background-color:#2c2c2c;
}
.co-info-content{
	position: relative;
	width: 1000px;
	margin:0 auto;
	color:#bababa;
	/* font-size: 12px; */
	padding-top: 59px;
}
.co-info-content a{
	color:#bababa;
}
.co-info-content a:hover{
	color:#d5d5d5;
	text-decoration: underline;
}

.co-txt{
	float: left;
	text-align: left;
}

.contact-info{
	padding: 15px 0 10px;
}

.quick-link span{
	padding:0 8px;
}
.quick-link a:first-child{
	margin-right: 5px;
}
.phone-link,.email-link{
	display: block;
	float: left;
	height: 19px;
	padding-left: 20px;
	line-height: 19px;
}
.phone-link{
	margin-right: 30px;
	background:url(/AppWeb/AppWeb_Images/index/ic_phone.png) no-repeat;
}
.email-link{
	padding-left: 25px;
	background:url(/AppWeb/AppWeb_Images/index/ic_Mail.png) no-repeat left center;
}

.co-icon-link{
	position: absolute;
	right: 0;
	top: 50%;
}

/*---------------------------------- 右侧导航 */
.sideNav{
	position:absolute;
	right:20px;
	top:50%;
	margin-top:-67px;
}
.sideNav a{
	padding: 10px;
}
.sideNav a,.sideNav .dotted{
	display:block;
	width: 10px;
	height: 10px;
}
.sideNav .dotted{
	border:1px solid #dddddd;
	border-radius: 50%;
}
.sideNav .active .dotted{
	background-color:#dddddd;
}

/*新加20160712 b*/
.flow-prompt{
	position: absolute;
	right: -65px;
	bottom: -65px;
	font-size: 16px;
}
.flow-prompt span{
	display: block;
	margin-bottom: 5px;
	color: #535353;
}
.flow-prompt a{
	text-decoration: underline;
	color: #8a898a;	
	font-size: 16px;
}
.ft-tools .list-item01 .tool-title{
	margin-left: -18px;
}
/*新加20160712 e*/








