<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmwa.ec.weixin.dao.PushMessageDao">

	<select id="queryPushMessage" parameterType="string" resultType="com.cmwa.ec.weixin.dto.PushMessageDto">
		SELECT  MESSAGEID as messageId, 
				CMFUSERID as cmfUserId,   
				MESSAGETYPE as messageType, 
				TEMPLATECODE as templateCode,
				JSONDATA as jsonData,
				SENDSTATUS as sendStatus, 
				TO_CHAR(INSERTTIME,'YYYY-MM-DD HH24:MI:SS') AS insertTime,
				TO_CHAR(UPDATETIME,'YYYY-MM-DD HH24:MI:SS') AS updateTime
				
		FROM CMF_WEIXIN_PUSHMESSAGE
		
		WHERE MESSAGEID = #{messageId} AND SENDSTATUS = #{sendStatus}
        
	</select>
	
	
	
</mapper>