<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmwa.ec.webapp.dao.ParameterDao">
	<select id="queryByAccessToken" resultType="com.cmwa.ec.webapp.dto.ParameterDto">
		SELECT PMST, PMKY, PMCO, PMNM, PMV1,
			   PMV2, PMV3,PMV4,PMV5,
			   TO_CHAR(inserttimestamp,'YYYY-MM-DD HH24:MI:SS') AS inserttimestamp,
			   TO_CHAR(updatetimestamp,'YYYY-MM-DD HH24:MI:SS') AS updatetimestamp 
		  FROM PARAMETER 
		 WHERE PMST = 'CONFIG' AND PMKY = 'PUBLIC' AND PMCO='accessToken' 
	</select>
	
	<select id="list"  resultType="com.cmwa.ec.webapp.dto.ParameterDto">
		SELECT PMST, PMKY, PMCO, PMNM, PMV1,
			   PMV2, PMV3,PMV4,PMV5,
			   TO_CHAR(inserttimestamp,'YYYY-MM-DD HH24:MI:SS') AS inserttimestamp,
			   TO_CHAR(updatetimestamp,'YYYY-MM-DD HH24:MI:SS') AS updatetimestamp 
		  FROM PARAMETER 
	</select>
	<insert id="insertLog" parameterType="Map">
					 insert into REPORT_STATISTICAL_LOG(CURTIMESTAMP,REPORTNAME,REPORTTYPE,FUNDID,FUNDSNAME,USERID,USERNAME,CHANNEl,IPATTR,INSERTDATETIME) 
					 values(
						 #{CURTIMESTAMP,jdbcType=VARCHAR},
						 #{REPORTNAME,jdbcType=VARCHAR},
						 #{REPORTTYPE,jdbcType=VARCHAR},
						 #{FUNDID,jdbcType=VARCHAR},
						 #{FUNDSNAME,jdbcType=VARCHAR},
						 #{USERID,jdbcType=VARCHAR},
						 #{USERNAME,jdbcType=VARCHAR},
						 #{CHANNEl,jdbcType=VARCHAR},
						 #{IPATTR,jdbcType=VARCHAR},
						 sysdate)
			</insert>
			

	<delete id="deleteUserTerms">
			DELETE FROM CMWA_USER_TERMS_LOG TG WHERE TG.CMFUSERID = #{cmfUserId} AND TG.FUNDCODE = #{fundId} AND TG.PERIOD = #{period}
	</delete>
	<!-- 保存客户风险揭示函纪录 -->
	<insert id="insertUserTerms" parameterType="java.util.List" useGeneratedKeys="false">
			begin
   			<foreach collection="list" item="item" index="index" separator="">
	   			INSERT INTO CMWA_USER_TERMS_LOG
				  (ID, CMFUSERID, FUNDCODE, PERIOD, TERMS_ID, STATE, CREATE_BY, CREATE_DT)
	   			VALUES
	   				(
	   					#{item.id},
	   					#{item.cmfUserId},
	   					#{item.fundCode},
	   					#{item.period},
	   					#{item.termsId},
	   					#{item.state},
	   					'SYSTEM',
	   					sysdate
	   				);
   		     </foreach>		
   		    end;
     </insert>    
     
    <!--插入记录用户操作日志  -->
    <insert id="insertUserOperateLog"  parameterType="java.util.Map">
        INSERT INTO CMWA_USER_OPERATE_LOG(ID,
                                          CMFUSERID,
                                          LOGIN_CHANNEL,
                                          TYPE,
                                          CREATETIME,
                                          UPDATETIME,
                                          FUNDID,
                                          PERIOD)
                                    VALUES(
                                            SEQ_USER_OPERATE_LOG.NEXTVAL,
		                                    #{map.cmfuserid,jdbcType=VARCHAR},
		                                    #{map.loginChannel,jdbcType=VARCHAR},
		                                    #{map.type,jdbcType=VARCHAR},
		                                    SYSDATE,
		                                    SYSDATE,
		                                    #{map.fundId}, 
		                                    #{map.period})
    </insert>
</mapper>