<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- 自动扫描且只扫描@Controller -->
	 
	<context:component-scan base-package="com.cmwa.ec.weixin.controller"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation"
			expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>
 	<mvc:interceptors>  
 		<!-- 声明在mvc:interceptors下的bean会拦截所有请求 -->
 		<!-- <bean class="com.cmwa.ec.weixin.interceptor.PageVerificationInterceptor" /> -->
 		
 		<mvc:interceptor>
 			<!-- 对所有的请求拦截使用/** ,对某个模块下的请求拦截使用：/WeixinService/query/* -->
 			<mvc:mapping path="/WeixinService/business/* "/>
 			<mvc:mapping path="/WeixinService/business/* "/>
 			<mvc:mapping path="/WeixinService/business/* "/>
 			
 			<!-- 声明在mvc:interceptor下的bean只拦截mapping所配置的请求 -->
 			<bean class="com.cmwa.ec.weixin.interceptor.UserTypeAuthorInterceptor" />
 			
 		</mvc:interceptor>
 		
 	</mvc:interceptors>
	 

	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<bean class="org.springframework.http.converter.StringHttpMessageConverter" >    
            	<property name = "supportedMediaTypes">  
                	<list>  
                     	<value>text/plain;charset=UTF-8</value>  
                	</list>  
            	</property>  
         	</bean> 
			<bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">    
	            <property name="supportedMediaTypes">    
	                <list>    
	                    <value>applicaton/json;charset=UTF-8</value>    
	                </list>    
	            </property>    
	        </bean> 
			<!-- 使用这个converter可以进行下载 -->
            <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>  

			<!-- 将StringHttpMessageConverter的默认编码设为UTF-8 -->
			<bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />             			
		</mvc:message-converters>
	</mvc:annotation-driven>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property value="/WeixinService/" name="prefix" />
		<property value=".jsp" name="suffix" />
		<property value="org.springframework.web.servlet.view.JstlView" name="viewClass" />
	</bean>
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean>
	
         <!-- 文件上传 --> 
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
     		<!-- set the max upload size100MB --> 
		<property name="maxUploadSize">
			<value>104857600</value>
		</property>
		<property name="maxInMemorySize">
			<value>4096</value>
		</property>
	</bean>
	   
 		<!-- 异常处理 --> 
	<bean id="exceptionResolver" class="com.cmwa.ec.weixin.mvc.MyExceptionResolver"></bean>

</beans>
