/*public start*/
*{ margin: 0; padding: 0;}
html { font-family: "Microsoft Yahei", Helvetica, Arial, Heiti SC,"Helvetica Neue", STHeiTi, sans-serif;}
body { background: #000; font-family: "Microsoft Yahei", Helvetica, Arial, Heiti SC,"Helvetica Neue", STHeiTi, sans-serif;}
img{ border: 0; display: block;}
.fl{ float: left;}
.fr{ float: right;}
.block{ display: block;}
.none{ display: none;}
.clear{ clear: both;}
.clear:after{content:''; width:0; height:0; display:block; clear:both;}
/*public end*/

.content{
    width: 100%;
    margin: 0 auto;
}
.content img{
    width: 100%;
    margin: 0 auto;
}
.content .banner,.content .footer{
    position: relative;
    z-index: 3;
}
.content div a{
    position: absolute;    
    display: block;
    z-index: 4;
    background: #fff;
     background: rgba(0,0,0,0.0)!important;
    filter: alpha(opacity=0); 
}
.content .banner a{
    left: 43.9%;
    bottom: 18%;
    width: 12.2%;
    height: 9%;
}
.content .footer a{
    left: 41%;
    top: 39%;
    width: 16%;
    height: 12%;
}
