<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<appender name="STDOUT_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- ****************************default space log appender***************************** -->
	<appender name="DEFAULT_APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/usr/local/webapp_log/ec/default.log
		</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>/usr/local/webapp_log/ec/default.%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>50MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- ****************************error space log appender***************************** -->
	<appender name="ERROR_APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<file>/usr/local/webapp_log/ec/error.log
		</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>/usr/local/webapp_log/ec/error.%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>50MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<!-- ****************************bussiness space log appender***************************** -->
	<appender name="BUSSINESS_APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/usr/local/webapp_log/ec/bussiness.log
		</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>/usr/local/webapp_log/ec/bussiness.%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>50MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>


	<!-- ****************************callMark space log appender***************************** -->
	<appender name="CALLMARK_APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/usr/local/webapp_log/ec/callMark.log
		</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>/usr/local/webapp_log/ec/callMark.%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>50MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>


	<!-- ****************************profiler space log appender***************************** -->
	<appender name="PROFILER_APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/usr/local/webapp_log/ec/profiler.log
		</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>/usr/local/webapp_log/ec/profiler.%i.log.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>50MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>



	<!--callMark logger -->
	<logger name="profiler.callMark.log" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CALLMARK_APPENDER" />
	</logger>

	<!--profiler logger -->
	<logger name="com.qgo.profiler.core.LogManagerImpl" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="PROFILER_APPENDER" />
	</logger>

	<logger name="com.cmwa.weixin" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="ERROR_APPENDER" />
		<appender-ref ref="BUSSINESS_APPENDER" />
		<appender-ref ref="STDOUT_APPENDER" />
	</logger>

	<!-- ******************framework default log******************* -->
	<logger name="org.springframework">
		<level value="DEBUG" />
	</logger>
	<logger name="com.opensymphony.oscache">
		<level value="WARN" />
	</logger>
	<logger name="org.apache">
		<level value="DEBUG" />
	</logger>
	<logger name="com.opensymphony">
		<level value="WARN" />
	</logger>
	<logger name="net.sf.navigator">
		<level value="WARN" />
	</logger>
	<logger name="org.apache.commons.httpclient">
		<level value="DEBUG" />
	</logger>
	<logger name="org.eclipse.jetty">
		<level value="WARN" />
	</logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="DEFAULT_APPENDER" />
		<appender-ref ref="ERROR_APPENDER" />
		<appender-ref ref="STDOUT_APPENDER" />
	</root>

</configuration>